@model IEnumerable<StartGrow.Models.Solicitud>

@{
    ViewData["Title"] = "Details"; 
}

<h2>Details</h2>

<div>
    <h4>Solicitud</h4>
    <hr />

    <table class="table">
        <thead>
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    Estado Solicitud
                </th>
                <th>
                    Rating
                </th>
                <th>
                    Interés
                </th>
                <th>
                    Plazo de Amortización
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Solicitud solicitud in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => solicitud.Proyecto.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => solicitud.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => solicitud.Proyecto.Rating.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => solicitud.Proyecto.Interes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => solicitud.Proyecto.Plazo)
                </td>
            </tr>
            }

        </tbody>
    </table>






    @*
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Estado)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Estado)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.FechaSolicitud)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FechaSolicitud)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Proyecto)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Proyecto.Nombre)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Trabajador)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Trabajador.Id)
            </dd>
        </dl>
    *@
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
