@model StartGrow.Models.InversionViewModels.SelectProyectosForInversionViewModel;
@{
    ViewData["Title"] = "SelectProyectosForInversion";
}

<head>
    <style>
        .areas {
            position: absolute;
            top: 150px;
            left: 100px;
        }

        .areas2 {
            position: absolute;
            top: 170px;
            left: 100px;
        }

        .rating {
            position: absolute;
            top: 600px;
            left: 100px;
        }

        .rating2 {
            position: absolute;
            top: 620px;
            left: 100px;
        }

        .tiposInversiones {
            position: absolute;
            top: 740px;
            left: 100px;
        }

        .tiposInversiones2 {
            position: absolute;
            top: 760px;
            left: 100px;
        }

        .InvMinima {
            position: absolute;
            top: 860px;
            left: 100px;
        }

        .InvMinima2 {
            position: absolute;
            top: 880px;
            left: 100px;
        }

        .interes {
            position: absolute;
            top: 960px;
            left: 100px;
        }

        .interes2 {
            position: absolute;
            top: 980px;
            left: 100px;
        }

        .plazo {
            position: absolute;
            top: 1060px;
            left: 100px;
        }

        .plazo2 {
            position: absolute;
            top: 1080px;
            left: 100px;
        }

        .botonFiltro {
            position: absolute;
            float: right;
            top: 1180px;
            left: 100px;
        }

        .botonSave {
            position: absolute;
            float: right;
            top: 1060px;
            left: 100px;
        }

        table.GeneratedTable {
                        
            left: 1000px;
            background-color: white;
            text-align: left;
            border-collapse: collapse;
            width: 100%;
        }

        table.GeneratedTable th, td {
            padding: 20px;
        }

        table.GeneratedTable thead {
            background-color: #246355;
            border-bottom: solid 5px #0F362D;
            color: white;
        }

        table.GeneratedTable tr:nth-child(even) {
            background-color: #ddd;
        }

        table.GeneratedTable tr:hover td {
            background-color: #369681;
            color: white;
        }
    </style>
</head>


<h2>Selecciona Proyectos Para Invertir</h2>

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-controller="Inversions" asp-action="SelectProyectosForInversion" method="get">
    <table class="" align="left">
        <tr>
            <td>
                @* Filtrar por Areas *@
                <label asp-for="ids_areas" class="areas"> </label>

                <div class="areas2">
                    <div class="">
                        @{
                            foreach (var item in Model.Areas)
                            {
                                <input type="checkbox" name="ids_areas" value="@item.Nombre" />
                                @item.Nombre
                                <br />
                            }
                        }
                    </div>
                </div>
            </td>
            <td>
                @* Filtrar por Rating *@
                <label asp-for="ids_rating" class="rating"></label>
                <div class="rating2">
                    <div class="">
                        @{
                            foreach (var item in Model.Rating)
                            {
                                <input type="checkbox" name="ids_rating" value="@item.Nombre" />
                                @item.Nombre
                                <br />
                            }
                        }
                    </div>
                </div>
            </td>
            <td>
                @* Filtrar tipo de inversión *@
                <label asp-for="ids_tiposInversiones" class="tiposInversiones"> </label>

                <div class="tiposInversiones2">
                    <div class="">
                        @{
                            foreach (var item in Model.TiposInversiones)
                            {
                                <input type="checkbox" name="ids_tiposInversiones" value="@item.Nombre" />
                                @item.Nombre
                                <br />
                            }
                        }
                    </div>
                </div>
            </td>
            <td>
                @*Filtrado por Inversión Mínima*@
                <label asp-for="invMin" class="InvMinima"></label>
                <input asp-for="invMin" class="InvMinima2" size="15" type="number" />
            </td>
            <td>
                @*Filtrado por Interés*@
                <label asp-for="interes" class="interes"></label>
                <input asp-for="interes" class="interes2" size="15" type="number" />
            </td>
            <td>
                @*Filtrado por Plazo*@
                <label asp-for="plazo" class="plazo"></label>
                <input asp-for="plazo" class="plazo2" size="15" type="number" />
            </td>
        </tr>
    </table>
    <input class="botonFiltro" type="submit" value="Filtrar" />

</form>

<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="SelectProyectosForInversion" method="post">

    <table class="GeneratedTable">
        <thead>
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    Areas
                </th>
                <th>
                    Tipos de Inversión
                </th>
                <th>
                    Inversion Minima
                </th>
                <th>
                    Plazo
                </th>
                <th>
                    Rating
                </th>
                <th>
                    Interés
                </th>
                <th>
                    Importe
                </th>
                <th>
                    Progreso
                </th>
                <th>
                    Nº Inversores
                </th>
                <th>
                    Fecha de Expiración
                </th>
                <th>
                    Seleccionar
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Proyectos.Count() == 0)
            {
                <tr><td colspan="3">No hay Proyectos Disponibles</td></tr>
            }
            else
            {
                @foreach (var item in Model.Proyectos)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @foreach (var item2 in item.ProyectoAreas)
                            {
                                @Html.DisplayFor(modelItem => item2.Areas.Nombre) <br />
                            }
                        </td>
                        <td>
                            @foreach (var item3 in item.ProyectoTiposInversiones)
                            {
                                @Html.DisplayFor(modelItem => item3.TiposInversiones.Nombre) <br />
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MinInversion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Plazo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Rating.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Interes)%
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Importe)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Progreso)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumInversores)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaExpiracion)
                        </td>
                        <td>
                            <input type="checkbox" name="IdsToAdd" value="@item.ProyectoId">
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary">Continuar</button>
    <a asp-action="SelectProyectosForInversion" class="btn btn-default">Limpiar</a>
</form>